{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Your Borrowing Cart</h1>

    {% if borrowings %}
        <ul class="list-group">
            {% for borrowing in borrowings %}
                <li class="list-group-item">
                    <strong>{{ borrowing.lego_set.name }}</strong><br>
                    Borrowed On: {{ borrowing.borrowed_on|date:"D M Y" }}
                    {% if borrowing.returned_on %}
                        <br>Returned On: {{ borrowing.returned_on|date:"D M Y" }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your borrowing cart is empty. <a href="{% url 'all_products' %}">Browse products</a></p>
    {% endif %}
</div>
{% endblock %}