{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Your Borrowing Cart</h1>
    {% if borrowings %}
        <ul class="list-group">
            {% for borrowing in borrowings %}
                <li class="list-group-item">
                    <strong>{{ borrowing.lego_set.title }}</strong><br>
                    Due Date: {{ borrowing.due_date|date:"D M Y" }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your borrowing cart is empty.</p>
    {% endif %}
</div>
{% endblock %}