{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section -->
    <div class="hero-section text-center">
        <div class="hero-section">
            <img src="{% static 'media/homepage-bg.webp' %}" alt="Hero Background" style="width: 100%; height: auto;">
        </div>
        <div class="hero-content">
            <h1 class="hero-heading logo-font">
                Build Your World with Brick Heroes
            </h1>
            <p class="hero-subheading">
                Explore our Lego sets!
            </p>
            <a href="{% url 'collections' %}" class="btn shop-now-button mt-4">
                Shop Now
            </a>
        </div>
    </div>
{% endblock %}