{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Core CSS -->

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap" rel="stylesheet">

    {% endblock %}
    {% block extracss %}
    {% endblock %}

    <!-- Core JS -->
    {% block corejs %}
    <script src="https://kit.fontawesome.com/c39eddf05d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
    {% block extrajs %}
    {% endblock %}

    <title>Brick Heroes - {% block extratitle %}{% endblock %}</title>
  </head>
  <body>
    <!-- Main Header -->
    <header class="container-fluid fixed-top">
        <div class="row"></div>
            <div class="row align-items-center py-2">
                <!-- Logo -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="{% static 'media/brick-heroes-logo.jpg' %}" alt="Brick Heroes Logo">
                    </a>
                </div>
        
                <!-- Burger Menu Button (visible only on smaller screens) 
                <input type="checkbox" id="burger-menu" class="sr-only">
                <label class="burger-menu-label d-lg-none" for="burger-menu">
                    <i class="fas fa-bars"></i>
                </label> -->

                <!-- Search Bar -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'all_products' %}">
                        <div class="input-group w-100">
                            <input
                                class="form-control border border-black rounded-0"
                                type="text"
                                name="q"
                                placeholder="Search Lego sets"
                            >
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

        
                <!-- Icons for Larger Screens -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item">
                            <a class="text-white nav-link" href="{% url 'all_products' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-th-large fa-lg"></i></div>
                                    <p class="my-0">Products</p>
                                </div>
                            </a>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'admin:index' %}" class="dropdown-item">Manage Store</a>
                                    {% endif %}
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <li class="list-inline-item">
                            <a class="nav-link text-white" href="{% url 'borrow_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if total_borrowed %}
                                            {{ total_borrowed }} Items
                                        {% else %}
                                            0 Items
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
        <!-- Collapsible Menu for Smaller Screens 
        <nav class="navbar-collapse d-lg-none">
            <ul id="menu">
                <li><a href="{% url 'all_products' %}">Products</a></li>
                <li><a href="{% url 'user_profile' %}">Account</a></li>
                <li><a href="{% url 'borrow_cart' %}">Cart</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'my_borrowings' %}">My Borrowings</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>-->
    </header>


<!-- Messages -->
<div class="message-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<!-- Main Content -->
{% block content %}
{% endblock %}

{% block postloadjs %}
{% endblock %}
</body>
</html>